.navbar-nav {
    margin-left: auto;
}

.navbar {
    background-color: #F5B60C;
}

/* prihlasovanie*/
#loginForm {
    margin: 12% auto;

}

label {
    font-size: large;
}

#btnLogin {
    margin: auto;
    position: absolute;
    left: 25%;
    transform: translate(-50%, 0);

    color: black;
    background-color: #F5B60C;
    border-color: #F5B60C;
}

#btnLogin:hover {
    color: black;
    background-color: #F5B60C;
    border-color: #F5B60C;
}

/*grid*/
.item {
    text-align: center;
    border-radius: 10%;
    /*margin: 0 30%;*/
}

.menuIcon {
    font-size: 900%;
    margin: 15% 0;
    color: black;
}

.fas.fa-exclamation-circle {
    margin: 20px;
}

#updateInfoForm {
    width: 80%;
    margin: auto;
    margin-top: 60px;
}

#btnUpdateInfo {
    margin-left: 50%;
    margin-top: 10px;
    transform: translate(-50%,0%);

    color: black;
    background-color: #F5B60C;
    border-color: #F5B60C;
}

#btnUpdateInfo:hover {

    color: black;
    background-color: #F5B60C;
    border-color: #F5B60C;
}

#btnLogout {
    margin: 10px;
    /*margin-left: 95%;*/
    float: right;

    color: black;
    background-color: #F5B60C;
    border-color: #F5B60C;
}

#btnLogout:hover {
    color: black;
    background-color: #F5B60C;
    border-color: #F5B60C;
}

#btnDeleteUser {
    margin-left: 50%;
    margin-top: 10px;
    transform: translate(-50%,0%);

    color: black;
    background-color: red;
    border-color: red;
}

#btnDeleteUser:hover {

    color: black;
    background-color: red;
    border-color: red;
}

#loginAndRegistration {
    width: 90%;
    margin: auto;
}
#registrationForm {
    margin: 5% auto;
}

#login, #password {
    max-width: 500px;
}

#btnRegister {
    margin: auto;
    position: absolute;
    left: 72%;
    transform: translate(-50%, 0);

    color: black;
    background-color: #F5B60C;
    border-color: #F5B60C;
}

#addNewForm {
    width: 90%;
    margin: 5% auto;

}

#btnAddNewAd {
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    color: black;
    background-color: #F5B60C;
    border-color: #F5B60C;
}

.trashAd {
    color: red;
}

table {
    width: 100%;
}

.popisInOutput {
    width: 80%;
    vertical-align: top;
}

.priceInOutput {
    width: 5%;
}

.trashInOutput {
    width: fit-content;
}

/*modal*/
.model {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 1000px;
    max-width: 80%;
    max-height: 95%;
    overflow-y:auto;
}

.model.active {
    transform: translate(-50%, -50%) scale(1);
}

.model-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.model-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.model-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.model-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#btnUpdateAd {
    /*margin: auto;
    position: fixed;*/
    margin-left: 50%;
    transform: translate(-50%, 0);

    color: black;
    background-color: #F5B60C;
    border-color: #F5B60C;
}

.display-none {
    display: none;
}

/*obrazkova galeria*/

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
    margin-bottom: 10px;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    text-decoration: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 20%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
    border: black 2px solid;;
}

.active,
.demo:hover {
    opacity: 1;
}

 .filterLabel {
     width: 180px;
 }

 .filter {
     margin-left: 2%;
     display: inline-block;
     width: 20%;
 }


.tableRows {
    max-height: 100px;
    max-width: 80%;
}

.imagePrew {
    display: block;
    max-width:150px;
    max-height:100px;
    width: auto;
    height: auto;
}

#noListings, #noComents, #notLoggedIn {
    margin-left: 10%;
}

#mailAndComents {
    width: 100%;
    height: 38px;
}
#contactInfo {
    width: 80%;
    float: left;
}

#comentsBtn {
    float: right;
    margin-bottom: 25px;
    margin-right: 0;
    color: black;
    background-color: #F5B60C;
    border-color: #F5B60C;
}

#noVisible {
    display: none;
}

#addComentForm {
    width: 90%;
    margin: 10px auto;
}
#comentText {
    width: 90%;
}

#addComentInput {
    width: 70%;
}

#comentTextDiv {
    width: 70%;
}

#btnAddComent {
    float: right;
    width: 160px;
    height: 40px;
    margin: auto;
    color: black;
    background-color: #F5B60C;
    border-color: #F5B60C;
}

.userFrom {
    width: 15%;
}

#comentText {
    width: 80%;
}

#comentLabel {
    width: 10%;
    margin: auto;
}

.errorMsg, .successMsg {
    text-align: center;
    font-weight: bold;
}

.errorMsg {
    color: red;
}

.successMsg {
    color: green;
}

#detailPopis {
    width: 100%;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}

@media only screen and (max-width: 900px) {
    #comentLabel {
        width: 100%;
        margin: auto;
        text-align: center;
    }
    #comentTextDiv {
        width: 100%;
    }
    #comentText {
        width: 100%;
        margin: auto;
    }

    #btnAddComent {
        margin-top: 10px;
    }
}